<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My ToDo App</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <div fxFlexFill fxLayout="row wrap"
  fxLayout.xs="column wrap"
  fxLayout.sm="column wrap"
  fxLayoutGap="15px grid">
    <div>
      <form [formGroup]="form" (ngSubmit)="addTodo()"
       #formDirective="ngForm">  <!--Directive is needed to do more with the form-->
        <mat-card>    <!--declare a card for a section-->
          <mat-card-header>
            <mat-card-title>
              Add ToDo
            </mat-card-title>
            <mat-card-title>
              Edit ToDo
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input matInput formControlName="task"/>
            </mat-form-field>
            <div>
              <label>Priority</label>
              <mat-radio-group aria-label="select an option"
              formControlName="priority">
                <mat-radio-button *ngFor="let p of priorities" value="{{p}}">
                  {{p}} &nbsp;
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-form-field>
              <input matInput [matDatepicker]="picker"
              formControlName="dueDate" [min]="tomorrow"/>
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-datepicker #picker></mat-datepicker>

              </mat-datepicker-toggle>
            </mat-form-field>
            <div>
              <!--add buttons-->
              <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Add</button>
              <button mat-raised-button color="warn" type="button">Update</button>
            </div>
          </mat-card-content>
          <mat-card>
            <mat-card-header>
              My ToDo List
            </mat-card-header>
            <mat-card-content>
              <mat-list>
              <mat-action-list *ngFor="let t of todosValues">
                <span class="tasks"> <!--display list of task at the webpage-->
                  {{t.task}} - {{t.dueDate | date:"dd/MM/yyyy"}} - {{t.priority}}
                  <button mat-icon-button color="primary" aria-label="edit"></button>
                    <mat-icon>edit</mat-icon>
                    <button mat-icon-button color="primary" aria-label="done"></button>
                    <mat-icon>done</mat-icon>
                  </span>
              </mat-action-list>
            </mat-list>
            </mat-card-content>
          </mat-card>
        </mat-card>
      </form>
    </div>
  </div>
</div>
